@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

#startButton:disabled {
    filter: brightness(70%);

    transition-duration: 0.5s;
}

#stopButton:disabled {
    filter: brightness(70%);

    transition-duration: 0.5s;
}

select {
    border-radius: 8px;
}